body {
    font-family: sans-serif;
}

header {
    text-align: center; 
}

h1 {
    color: #4676A9;
    font-size: 85px;
    text-align: center; 
}

h2 { 
    color: #cb721c;
    font-size: 35px;
}  

footer { 
    background-color: #22466c ;
    color: white
}  